<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>toolset.sh</title>

  <link rel="shortcut icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/toolset.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="title">
        <a href="/">toolset.sh</a>
      </div>
      <div class="subtitle">
        The swiss army knife for developers &amp; power users
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      {{ value|safe }}
    </div>
  </div>
</body>
</html>
