<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>toolset.sh</title>

  <link rel="shortcut icon" href="/static/img/favicon.png">
  <link rel="stylesheet" href="/static/css/toolset.css">

  <link rel="stylesheet" href="/static/css/fontawesome.min.css">
  <link rel="stylesheet" href="/static/css/solid.min.css">

  <script src="/static/js/jquery-3.7.1.min.js" defer></script>
  <script src="/static/js/toolset.js" defer></script>
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="title">
        <a href="/">toolset.sh</a>
      </div>
      <div class="subtitle">
        The swiss army knife for developers &amp; power users
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      {{ value|safe }}
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <div>&copy; Copyright 2025 &mdash; Nathan Osman</div>
      <div>
        <a href="https://github.com/nathan-osman/toolset.sh" target="_blank">
          View on GitHub
        </a>
      </div>
    </div>
  </div>
</body>
</html>
