<!-- TODO: automate populating this list -->

<h2 class="title is-4">Date / Time</h2>
<div class="fixed-grid has-4-cols">
  <div class="grid">
    <div class="cell">
      <a class="button is-fullwidth" href="/time">
        <span class="icon">
          <i class="fa-solid fa-clock"></i>
        </span>
        <span>Current Time</span>
      </a>
    </div>
  </div>
</div>

<h2 class="title is-4">Math</h2>
<div class="fixed-grid has-4-cols">
  <div class="grid">
    <div class="cell">
      <a class="button is-fullwidth" href="/pi">
        <span class="icon">
          <i class="fa-solid fa-calculator"></i>
        </span>
        <span>Pi</span>
      </a>
    </div>
    <div class="cell">
      <a class="button is-fullwidth" href="/random">
        <span class="icon">
          <i class="fa-solid fa-hashtag"></i>
        </span>
        <span>Random Number</span>
      </a>
    </div>
  </div>
</div>

<h2 class="title is-4">Network</h2>
<div class="fixed-grid has-4-cols">
  <div class="grid">
    <div class="cell">
      <a class="button is-fullwidth" href="/ip">
        <span class="icon">
          <i class="fa-solid fa-globe"></i>
        </span>
        <span>IP Address</span>
      </a>
    </div>
    <div class="cell">
      <a class="button is-fullwidth" href="/user-agent">
        <span class="icon">
          <i class="fa-solid fa-user-tag"></i>
        </span>
        <span>User Agent</span>
      </a>
    </div>
  </div>
</div>

<h2 class="title is-4">Programming</h2>
<div class="fixed-grid has-4-cols">
  <div class="grid">
    <div class="cell">
      <a class="button is-fullwidth" href="/base64">
        <span class="icon">
          <i class="fa-solid fa-align-justify"></i>
        </span>
        <span>Base64 Encode / Decode</span>
      </a>
    </div>
    <div class="cell">
      <a class="button is-fullwidth" href="/lorem-ipsum">
        <span class="icon">
          <i class="fa-solid fa-font"></i>
        </span>
        <span>Lorem Ipsum</span>
      </a>
    </div>
    <div class="cell">
      <a class="button is-fullwidth" href="/uuid">
        <span class="icon">
          <i class="fa-solid fa-code"></i>
        </span>
        <span>UUID Generator</span>
      </a>
    </div>
  </div>
</div>
