<p>
  Welcome to your one-stop convenience shop for web / software development tools! Convert, lookup, and calculate using the tools provided below:
</p>
<br />
<div class="index">
  <div>
    <div class="title">Date / Time</div>
    <div class="buttons">
      <a class="button" href="/time">
        <i class="fa-solid fa-clock"></i>
        Current Time
      </a>
    </div>
  </div>
  <div>
    <div class="title">Math</div>
    <div class="buttons">
      <a class="button" href="/pi">
        <i class="fa-solid fa-calculator"></i>
        Pi
      </a>
      <a class="button" href="/random">
        <i class="fa-solid fa-hashtag"></i>
        Random Number
      </a>
    </div>
  </div>
  <div>
    <div class="title">Network</div>
    <div class="buttons">
      <a class="button" href="/ip">
        <i class="fa-solid fa-globe"></i>
        IP Address
      </a>
      <a class="button" href="/user-agent">
        <i class="fa-solid fa-user-tag"></i>
        User Agent
      </a>
    </div>
  </div>
  <div>
    <div class="title">Programming</div>
    <div class="buttons">
      <a class="button" href="/uuid">
        <i class="fa-solid fa-code"></i>
        UUID Generator
      </a>
    </div>
  </div>
</div>
