* {
  box-sizing: border-box;
}

:root {
  --color1: #dc5f00;
  --color2: #eeeeee;
  --color3: #373a40;
  --color4: #686d76;
}

a {
  color: var(--color2);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--color1);
  color: var(--color2);
  font-family: sans-serif;
  margin: 0;
}

.container {
  margin: auto 12px;
}

.header {
  background-color: var(--color2);
  color: var(--color3);
  margin-bottom: 32px;
  padding: 12px 0;
}

.title {
  font-size: 36pt;
}

.title a {
  color: var(--color1);
}

.subtitle {
  color: var(--color4);
}

@media (min-width: 800px) {
  .container {
    margin: auto;
    width: 720px;
  }
}
